
<link rel="stylesheet" href="~/css/admin.css" />
<form method="post">
    <input type="hidden" name="id" value="@Model.inventory.PublicId" />
    <input type="hidden" name="Version" value="@Model.inventory.Version" />
    <nav class="nav navbar d-flex justify-content-between align-items-center">
        <div class="nav-item">
            @if (!Model.inventory.IsPublic)
            {
                <button type="submit" class="btn" asp-action="MakePublic" asp-controller="Inventory" >
                    @Localizer["Make inventory public"]
                </button>
            }
            else
            {
                <button type="submit" class="btn" asp-action="MakePrivate" asp-controller="Inventory">
                    @Localizer["Make inventory private"]
                </button>
            }
            <button type="submit" class="btn" asp-action="GiveAccess" asp-controller="Inventory">
                @Localizer["Give access to inventory"]
            </button>
            <button type="submit" class="btn" asp-action="TakeAccess" asp-controller="Inventory" >
                @Localizer["Take access from inventory"]
            </button>
        </div>
    </nav>

    <table class="table table-stripe">
        <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" id="selectDeselect" />
                </th>
                <th scope="col">@Localizer["Name"]</th>
                <th scope="col">@Localizer["Status"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                if (!User.IsInRole("Admin") && Model.inventory.User.UserName!=user.UserName){
                <tr data-id="@user.UserName">
                    <td>
                        <input type="checkbox" id="@user.Id" name="UserId" value="@user.Id" class="checkboxtable" />
                    </td>
                    <td>@user.Login</td>
                    <td>
                        @if (Model.UserAccess.Contains(user.Id) || Model.inventory.IsPublic)
                        {
                                <span>@Localizer["Has access"]</span>
                        }
                        else
                        {
                            <span >@Localizer["No access"]</span>
                        }
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
</form>

<script>
    document.getElementById('selectDeselect').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.checkboxtable');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });
</script>