@model Course_Project.Web.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<partial name="_ThemeLink" />
<link rel="stylesheet" href="~/css/login.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
@inject IViewLocalizer Localizer
<div class="login-wrapper">
    <div class="login-container">
        <div class="login-card">
            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.ContainsKey(""))
            {
                <div class="alert alert-danger custom-error-center" role="alert">
                    @foreach (var error in ViewData.ModelState[""].Errors)
                    {
                        @error.ErrorMessage
                    }
                </div>
            }
            <div class="back-arrow">
                <button type="button" class="back-arrow" onclick="window.location.href='/'">
                    <i class="bi bi-arrow-left"></i>
                </button>
            </div>
            <h1 class="login-title">@Localizer["Register"]</h1>
            <form method="post" asp-controller="Auth" asp-action="Register">
                <div class="form-group">
                    <label asp-for="Login">@Localizer["Login"]</label>
                    <input asp-for="Login" type="" autocomplete="username" placeholder=@Localizer["Enter login"] />
                    <div asp-validation-for="Login" class="validation-message"></div>
                </div>
                <div class="form-group">
                    <label asp-for="Email">@Localizer["Email"]</label>
                    <input asp-for="Email" type="email" autocomplete="username" placeholder=@Localizer["Enter email"] />
                    <div asp-validation-for="Email" class="validation-message"></div>
                </div>

                <div class="form-group">
                    <label asp-for="Password">@Localizer["Password"]</label>
                    <input asp-for="Password" type="password" autocomplete="current-password" placeholder=@Localizer["Password"] />
                    <div asp-validation-for="Password" class="validation-message"></div>
                </div>
                <div class="form-group">
                    <label asp-for="PasswordConfirm">@Localizer["Confirm Password"]</label>
                    <input asp-for="PasswordConfirm" type="password" autocomplete="current-password" placeholder=@Localizer["Confirm password"] />
                    <div asp-validation-for="PasswordConfirm" class="validation-message"></div>
                </div>
                <button type="submit" class="login-button">@Localizer["Register"]</button>

                <p class="register-link">
                    @Localizer["Have account?"] <a asp-controller="Auth" asp-action="Login">@Localizer["log in"]</a>
                </p>
            </form>
            <div class="soc-links">
                <button type="button" class="btn btn-link btn-floating mx-1" onclick="window.location.href='LinkedinLogin'">
                    <i class="bi bi-linkedin"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1" onclick="window.location.href='GoogleLogin'">
                    <i class="bi bi-google"></i>
                </button>
            </div>
        </div>
    </div>
</div>

