@model IEnumerable<Inventory>
<table class="table table-striped table-bordered user-table" id="searchtable">
    <thead>
        <tr>
            <th scope="col">@Localizer["Public id"]</th>
            <th scope="col">@Localizer["Title"]</th>
            <th scope="col">@Localizer["Description"]</th>
            <th scope="col">@Localizer["Creator"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inv in Model)
        {
            <tr data-id="@inv.PublicId">
                <td>@inv.PublicId.ToString()</td>
                <td>@inv.Title</td>
                <td>@inv.Description</td>
                <td>@inv.User.Login</td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
         $('tbody').on('click', 'tr', function () {
            const inv = $(this).data('id');
            window.location.href = '/Inventory/Information/' + inv;

         });
    });
</script>
