@model AccountViewModel
<link rel="stylesheet" href="~/css/account.css" />

<div class="user-info-container">
    @if (!string.IsNullOrEmpty(Model.Photo))
    {
        <div class="inventory-photo-card">
            <img src="@Model.Photo" class="inventory-photo" alt="Inventory Photo">
        </div>
    }
    else
    {
        <div class="inventory-photo-placeholder">
            <span class="no-image-text">@Localizer["No image"]</span>
        </div>
    }

    <div class="user-info">
        <h1>@Model.user.Login</h1>
        <h1>@Model.user.Email</h1>
    </div>
</div>

<form method="post">
<div class="cont">
    <a asp-controller="Inventory" asp-action="Create" asp-route-id="@Model.user.Id" class="btn">@Localizer["Create new inventory"]</a>
        <input type="hidden" name="UserName" value="@Model.user.UserName" />
    <div class="tab-container">
        <nav>
            <ul class="tab-nav">
                <li class="tab-item">
                    <a href="#" class="tab-link active" data-tab="inventories">@Localizer["My inventories"]</a>
                </li>
                <li class="tab-item">
                    <a href="#" class="tab-link" data-tab="edit">@Localizer["Edit inventories"]</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="my-tab-content" style="display:block;">
            <button type="submit" class="btn" asp-action="DeleteSelected" asp-controller="Inventory" id="blockBtn">
                <i class="fas fa-ban me-1"></i>@Localizer["Delete selected"]
            </button>
        <div id="inventories-content" class="tab-panel">
            <table class="table table-striped table-bordered user-table">
                <thead>
                    <tr>
                        <th scope="col">
                            <input type="checkbox" id="selectDeselect" />
                        </th>
                        <th scope="col">@Localizer["Public id"]</th>
                        <th scope="col">@Localizer["Name"]</th>
                        <th scope="col">@Localizer["Description"]</th>
                        <th scope="col">@Localizer["Creator"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invs in Model.UserInventories)
                    {
                        <tr data-id="@invs.Id">
                            <td>
                                <input type="checkbox" id="@invs.Id" name="InventoryId" value="@invs.PublicId" class="checkboxtable" />
                            </td>
                            <td>@invs.PublicId</td>
                            <td>@invs.Title</td>
                            <td>@invs.Description</td>
                            <td>@invs.User.Login</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
     </div>
    <div class="edit-tab-content" style="display:none;">
        <div id="inventories-content" class="tab-panel">
            <table class="table table-striped table-bordered user-table">
                <thead>
                    <tr>
                        <th scope="col">@Localizer["Public id"]</th>
                        <th scope="col">@Localizer["Name"]</th>
                        <th scope="col">@Localizer["Description"]</th>
                        <th scope="col">@Localizer["Creator"]</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var invs in Model.EditInventories)
                    {
                        <tr data-id="@invs.Id">
                            <td>@invs.PublicId</td>
                            <td>@invs.Title</td>
                            <td>@invs.Description</td>
                            <td>@invs.User.Login</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
     </div>
</div>
</form>
<script>
        document.getElementById('selectDeselect').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.checkboxtable');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });
    $(document).ready(function () {
        const myTab = document.querySelector(".my-tab-content");
        const editTab = document.querySelector(".edit-tab-content");
        const links = document.querySelectorAll(".tab-link");

        links.forEach(link => {
            link.addEventListener("click", (e) => {
                e.preventDefault();

                const tab = link.dataset.tab;

                if (tab === "edit") {
                    if (editTab.style.display === "none" || editTab.style.display === "") {
                        myTab.style.display = "none";
                        editTab.style.display = "block";
                    } else {
                        editTab.style.display = "none";
                        myTab.style.display = "block";
                    }
                }

                if (tab === "inventories") {
                    myTab.style.display = "block";
                    editTab.style.display = "none";
                }

                links.forEach(l => l.classList.remove("active"));
                link.classList.add("active");
            });
        });
    });
</script>