@using Course_Project.Domain.Models.UserModels
@model IEnumerable<User>
<link rel="stylesheet" href="~/css/admin.css" />
<form method="post" asp-action="Delete" asp-controller="Admin">
    <nav class="nav navbar d-flex justify-content-between align-items-center">
        <div class="nav-item">
            <button type="submit" class="btn asp-action="Block" asp-controller="Admin" id="blockBtn">
                @Localizer["Block"]
            </button>
            <button type="submit" class="btn" asp-action="Unblock" asp-controller="Admin" id="unblockBtn">
                @Localizer["Unblock"]
            </button>
            <button type="submit" class="btn" id="deleteBtn" onclick="return confirm('Are you sure you want to delete selected users?')">
                @Localizer["Delete"]
            </button>
            <button type="submit" class="btn" asp-action="GiveAdmin" asp-controller="Admin" id="adminBtn">
                @Localizer["Give admin role"]
            </button>
            <button type="submit" class="btn" asp-action="TakeAdmin" asp-controller="Admin" id="noadminBtn">
               @Localizer["Take admin role"]
            </button>
        </div>
    </nav>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">
                    <input type="checkbox" id="selectDeselect" />
                </th>
                <th scope="col">ID</th>
                <th scope="col">@Localizer["Login"]</th>
                <th scope="col">Email</th>
                <th scope="col">@Localizer["Status"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr data-id="@user.UserName">
                    <td>
                        <input type="checkbox" id="@user.Id" name="UserId" value="@user.Id" class="checkboxtable" />
                    </td>
                    <td>@user.Id</td>
                    <td>@user.Login</td>
                    <td>@user.Email</td>
                    <td>
                        @if (user.IsLocked == true)
                        {
                            <span class="status-blocked">@Localizer["Blocked"]</span>
                        }
                        else
                        {
                            <span class="status-active">@Localizer["Active"]</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script>
    document.getElementById('selectDeselect').addEventListener('change', function() {
        const checkboxes = document.querySelectorAll('.checkboxtable');
        checkboxes.forEach(checkbox => {
            checkbox.checked = this.checked;
        });
    });
     $(document).ready(function () {
          $('tbody').on('click', 'tr', function () {
             const presentationId = $(this).data('id');
             window.location.href = '/Account/Index/' + presentationId;
              
          });
     });
</script>